<body>
  <h1>Categories</h1>
  <% for (let i = 0; i<data.length; i++) {%>
    <p>
      <a href='http://localhost:3000/categories?cat=<%= data[i] %>'>
        <%= data[i] %>
      </a>
    </p>
    <% }%>
</body>